html {
  scroll-behavior: smooth;
}

.que-before::before {
  content: attr(data-que) ".";
  padding-right: 12px;
  font-weight: bold;
}

.opt {
  margin: 0.5rem 0;
  padding: 14px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.opt::before {
  content: attr(data-opt) ".";
  color: #fff;
  padding-right: 12px;
  font-weight: bold;
}

.correct,
.wrong {
  animation: pulse 0.3s;
}

.wrong {
  --tw-gradient-to: #db2777;
  --tw-gradient-from: #fb923c;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(251, 146, 60, 0));
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.correct {
  --tw-gradient-to: #10b981;
  --tw-gradient-from: #bef264;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(190, 242, 100, 0));
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

/* --------------- Spin Loader --------------- */
#loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 1001;
}
#loader #message {
  margin: 0;
  color: #fff;
  text-align: center;
}
#spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
#spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
#spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
#spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
